mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin nav(className, items, activeItem)
  nav(class=`nav ` + `${className}`)
    .nav__container
      ul.nav__list
        each item, index in items
          li(class=`nav__item ` + ( (index === activeItem) ? `nav__item--active` : '' ) )
            a.nav__link(href='#')= item

mixin socials
  ul.socials__list
    each social in ['insta', 'vk', 'github']
      li.socials__item
        a(class=`socials__link socials__link--${social}` href='#')
          +icon(`${social}`, `socials__icon socials__icon--${social}`)


//- mixin sliderPreview(slides)
//-   ul.slider__preview-list
//-     -for (i=0; i < slides.length; i++)
//-       li(class=`slider__preview-item slider__preview-item--${slides[i]}`)
//-         +image(`content/portfolio_pr${slides[i]}.jpg`, 'slider__preview-pic')

//- mixin projectTags(projectName, tags)
//-   ul(class=`tags__list ${projectName}__tags`)
//-     each tag in tags
//-       li.tags__item
//-         .tags__item-name= tag
          
